/* SHIPPING BAR */
.shipping-bar{
  text-align:center;
  padding:12px;
  font-weight:800;
  background:linear-gradient(90deg,#11c4d1,#0a7bbd);
  color:#012027;
  letter-spacing:.5px;
}

/* CART SHIPPING MESSAGE */
.shipping-progress{
  background:#063041;
  padding:12px;
  border-radius:10px;
  margin-bottom:15px;
  font-weight:700;
  text-align:center;
}

/* SUCCESS STATE */
.shipping-success{
  background:#11c4d1;
  color:#012027;
}

/* PROGRESS BAR */
.progress-bar{
  height:8px;
  background:#02141b;
  border-radius:10px;
  overflow:hidden;
  margin-top:8px;
}

.progress-fill{
  height:100%;
  background:linear-gradient(90deg,#11c4d1,#0a7bbd);
  width:0%;
  transition:.4s;
}
